<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en-gb" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="A block explorer for Nexus (NXS).">
    <meta name="Keywords" content="Nexus, Cryptocurrency, Block, Explorer, Blockchain, Transaction, Address">
    
    <link rel="stylesheet" href="~/css/main.css"/>

    <script src="~/js/runtime.js"></script>
    <script src="~/js/vendor.js"></script>

    <title>@ViewData["Title"]</title>
</head>
<body>
<div id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("index", "home")">
            <img src="~/img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
        </a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blockchain
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action("blocks", "blockchain")">Blocks</a>
                        <a class="dropdown-item" href="@Url.Action("transactions", "blockchain")">Transactions</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("index", "asset")">Assets</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("index", "token")">Tokens</a>
                </li>
            </ul>
        </div>

        <div style="font-size: 2rem;">
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @User.Identity.Name
                            <span class="fa fa-user-circle-o"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownUserLink">
                            <a class="dropdown-item" href="@Url.Action("transactions", "manage")">Account Transactions</a>
                            <div class="mt-3">@{ await Html.RenderPartialAsync("_Logout"); }</div>
                        </div>
                    </li>
                </ul>
            }
            else
            {
                <span>
                    <a href="@Url.Action("login", "account")">Login</a>
                    /
                    <a href="@Url.Action("create", "account")">Create</a>
                </span>
            }
        </div>
    </nav>
</div>

<div id="layout">
    <div style="position: fixed; bottom: 30px; right: 30px; min-width: 200px;">
        <div id="newBlockToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">New block</strong>
                <small class="text-muted"></small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Block <a :href="`block/${latestBlock.height}`">#{{latestBlock.height}}</a> has been added to the blockchain
            </div>
        </div>
    </div>
</div>

<div id="body">
    @RenderBody()
</div>
    
<script src="~/js/main.js"></script>
<script type="text/javascript">
    window.vm = new dotnexus.Main({});
</script>

@(await RenderSectionAsync("Scripts", false))

</body>
</html>